<template>
    <table class="kb-table kb-box">
        <tr>
            <td class="kb-table-header">Menu</td>
        </tr>
        <tr class="kb-table-row-even">
            <td>
                <div class="menu-wrapper">
                    {% for key,val in menu %} {% if val is iterable %}
                    <div class="menu-caption">key</div>
                    {% for key,val in val %}
                    <div class="menu-item">
                        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                        <a href="#val">key</a><br />
                    </div>
                    {% endfor %} {% else %}
                    <div class="menu-item">
                        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                        <a href="#val">key</a><br />
                    </div>
                    {% endif %} {% endfor %}
                </div>
            </td>
        </tr>
    </table>
</template>

<script>
export default {
    name: "NavigationMenu",
    data() {
        return {
            menu: null
        };
    }
};
</script>