<template>
    <div class="home">
        <!-- Right side Main Content -->
        <!--<div id="content" {% if fullWidth == true %}style="width: 100%;"{% endif %}>-->
        <div id="content">
            <!-- Top Kills -->
            <div id="topKills"></div>

            <!-- Killlist Table -->
            <KilllistTable
                url="/api/killlist/latest"
                loadWebsocket="true"
                page="1"
                autoloadScroll="true"
            />
        </div>

        <!-- Left side Content -->
        <div id="context">
            <!-- Navigation Menu -->
            <NavigationMenu />

            <!-- Top Lists -->
            <div id="topListCharacter"></div>
            <br />
            <div id="topListCorporation"></div>
            <br />
            <div id="topListAlliance"></div>
            <br />
            <div id="topListSolarSystems"></div>
            <br />
            <div id="topListRegions"></div>
            <br />
        </div>
    </div>
</template>

<script>
import KilllistTable from "@/components/KilllistTable.vue";
import NavigationMenu from "@/components/NavigationMenu.vue";

export default {
    name: "home",
    components: {
        KilllistTable,
        NavigationMenu
    },
    mounted() {
        // Update the parent
        this.$emit("updatePageTitle", {
            pageTitle: "Home"
        });
    }
};
</script>