<template>
    <div class="kill" v-if="this.loaded === true">
        <!-- Right side Main Content -->
        <!--<div id="content" {% if fullWidth == true %}style="width: 100%;"{% endif %}>-->
        <div id="content">
            <div id="kl-detail-left">
                <div id="topVictimInfo">
                    <div class="kl-detail-vicpilot">
                        <table class="kb-table">
                            <col class="logo"/>
                            <col class="attribute-name"/>
                            <col class="attribute-data"/>
                            <tr class="kb-table-row-even">
                                <td class="logo" rowspan="3">
                                    <a :href="getLink(kill.victim.characterID, 'character')">
                                        <img
                                            class="rounded"
                                            data-trigger="tooltip" data-delay="0"
                                            :data-content="kill.victim.characterName"
                                            data-position="s"
                                            :src="getImageUrl(kill.victim.characterID, 'Character', 64)"
                                            :alt="kill.victim.characterName"/>
                                    </a>
                                </td>
                                <td v-if="kill.victim.characterID > 0">Victim:</td>
                                <td v-else>&nbsp;</td>
                                <td v-if="kill.victim.characterID > 0">
                                    <a :href="getLink(kill.victim.characterID, 'character')">{{
                                        kill.victim.characterName }}</a>
                                </td>
                                <td v-else>&nbsp;</td>
                            </tr>
                            <tr class="kb-table-row-odd">
                                <td>Corporation:</td>
                                <td>
                                    <a :href="getLink(kill.victim.corporationID, 'corporation')">
                                        <span v-if="kill.victim.factionID > 0">
                                            {{ kill.victim.corporationName }} ({{ kill.victim.factionName }})
                                        </span>
                                        <span v-else>
                                            {{ kill.victim.corporationName }}
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            <tr class="kb-table-row-even">
                                <td v-if="kill.victim.allianceID > 0">Alliance:</td>
                                <td v-else>&nbsp;</td>
                                <td v-if="kill.victim.allianceID > 0">
                                    <a :href="getLink(kill.victim.allianceID, 'alliance')">{{ kill.victim.allianceName
                                        }}</a>
                                </td>
                                <td v-else>&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                    <div class="kl-detail-vicship">
                        <table class="kb-table">
                            <col class="logo"/>
                            <col class="attribute-name"/>
                            <col class="attribute-data"/>
                            <tr class="kb-table-row-even">
                                <td class="logo" rowspan="3">
                                    <a :href="getLink(kill.victim.shipTypeID, 'ship')">
                                        <img
                                            class="rounded"
                                            data-trigger="tooltip" data-delay="0"
                                            :data-content="kill.victim.shipTypeName"
                                            data-position="s"
                                            :src="getImageUrl(kill.victim.shipTypeID, 'Type', 64)"
                                            :alt="kill.victim.shipTypeName"/>
                                    </a>
                                </td>
                                <td>Ship:</td>
                                <td>
                                    <a :href="getLink(kill.victim.shipTypeID, 'ship')">{{ kill.victim.shipTypeName
                                        }}</a>
                                </td>
                            </tr>
                            <tr class="kb-table-row-odd">
                                <td>Location:</td>
                                <td>
                                    <a :href="getLink(kill.solarSystemID, 'system')">
                                        {{ kill.solarSystemName }} (<a :href="getLink(kill.regionID, 'region')">{{
                                        kill.regionName}}</a>)
                                    </a>
                                </td>
                            </tr>
                            <tr class="kb-table-row-even">
                                <td>Data:</td>
                                <td>{{ kill.killTime_str }}</td>
                            </tr>
                            <tr class="kb-table-row-odd">
                                <td colspan="2">ISK Loss at the time of kill:</td>
                                <td>{{ millionBillion(kill.totalValue) }}</td>
                            </tr>
                            <tr class="kb-table-row-even">
                                <td colspan="2">Total Damage Taken:</td>
                                <td>{{ round(kill.victim.damageTaken) }}</td>
                            </tr>
                            <tr class="kb-table-row-odd">
                                <td colspan="2">Near:</td>
                                <td>{{ kill.near }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="fittingWheel" v-html="fittingWheel">
                </div>
                <div id="itemDetail" v-html="itemDetail">
                </div>
                <div id="lossValueDetail"></div>
            </div>
            <div id="kl-detail-right">
                <div id="involvedPartiesInfo" v-html="involvedPartiesInfo">
                </div>
                <div id="InvolvedPartiesList" v-html="involvedPartiesList">
                </div>
            </div>
        </div>

        <!-- Left side Content -->
        <div id="context">
            <NavigationMenu/>
            <div id="points">
                <table class="kb-table kb-box">
                    <tr>
                        <td class="kb-table-header">Points</td>
                    </tr>
                    <tr class="kb-table-row-even">
                        <td>
                            <div class="menu-wrapper">
                                <div class="kill-points">{{ round(kill.pointValue) }}</div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="topDamageAndFinal">
                <table class="kb-table kb-box">
                    <tr>
                        <td class="kb-table-header" colspan="2">Top Damage Dealer</td>
                    </tr>
                    <tr class="kb-table-row-odd">
                        <td class="finalblow">
                            <div clasS="menu-wrapper">
                                <a :href="getLink(kill.attackers[0].characterID, 'character')">
                                    <img class="finalblow rounded" data-trigger="tooltip" data-delay="0"
                                         :data-content="kill.attackers[0].characterName"
                                         data-position="s"
                                         :src="getImageUrl(kill.attackers[0].characterID, 'Character', 64)"
                                         :alt="kill.attackers[0].characterName"
                                         :title="kill.attackers[0].characterName"/>
                                </a>
                            </div>
                        </td>
                        <td class="finalblow">
                            <div class="menu-wrapper">
                                <a :href="getLink(kill.attackers[0].shipTypeID, 'ship')">
                                    <img class="finalblow rounded" data-trigger="tooltip" data-delay="0"
                                         :data-content="kill.attackers[0].shipTypeName"
                                         data-position="s"
                                         :src="getImageUrl(kill.attackers[0].shipTypeID, 'Type', 64)"
                                         :alt="kill.attackers[0].shipTypeName"
                                         :title="kill.attackers[0].shipTypeName"/>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="kb-table kb-box">
                    <tr>
                        <td class="kb-table-header" colspan="2">Final Blow</td>
                    </tr>
                    <tr class="kb-table-row-odd">
                        <td class="finalblow">
                            <div clasS="menu-wrapper">
                                <a :href="getLink(kill.finalBlow.characterID, 'character')">
                                    <img class="finalblow rounded" data-trigger="tooltip" data-delay="0"
                                         :data-content="kill.finalBlow.characterName"
                                         data-position="s"
                                         :src="getImageUrl(kill.finalBlow.characterID, 'Character', 64)"
                                         :alt="kill.finalBlow.characterName"
                                         :title="kill.finalBlow.characterName"/>
                                </a>
                            </div>
                        </td>
                        <td class="finalblow">
                            <div class="menu-wrapper">
                                <a :href="getLink(kill.finalBlow.shipTypeID, 'ship')">
                                    <img class="finalblow rounded" data-trigger="tooltip" data-delay="0"
                                         :data-content="kill.finalBlow.shipTypeName"
                                         data-position="s"
                                         :src="getImageUrl(kill.finalBlow.shipTypeID, 'Type', 64)"
                                         :alt="kill.finalBlow.shipTypeName"
                                         :title="kill.finalBlow.shipTypeName"/>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import NavigationMenu from "@/components/NavigationMenu.vue";

    export default {
        name: "kill",
        components: {
            NavigationMenu
        },
        data() {
            return {
                killID: this.$route.params.killID,
                killData: {},
                loaded: false,
                slotTypes: {
                    "highx": {
                        "flags": [27, 28, 29, 30, 31, 32, 33, 34], "styles": {
                            27: 'left:73px; top:60px;',
                            28: 'left:102px; top:42px;',
                            29: 'left:134px; top:27px;',
                            30: 'left:169px; top:21px;',
                            31: 'left:203px; top:22px;',
                            32: 'left:238px; top:30px;',
                            33: 'left:270px; top:45px;',
                            34: 'left:295px; top:64px;'
                        }, "ammo": {
                            27: 'left:94px; top:88px;',
                            28: 'left:119px; top:70px;',
                            29: 'left:146px; top:58px;',
                            30: 'left:175px; top:52px;',
                            31: 'left:204px; top:52px;',
                            32: 'left:232px; top:60px;',
                            33: 'left:258px; top:72px;',
                            34: 'left:280px; top:91px;'
                        }
                    },
                    "midx": {
                        "flags": [19, 20, 21, 22, 23, 24, 25, 26], "styles": {
                            19: 'left:26px; top:140px;',
                            20: 'left:24px; top:176px;',
                            21: 'left:23px; top:212px;',
                            22: 'left:30px; top:245px;',
                            23: 'left:46px; top:278px;',
                            24: 'left:69px; top:304px;',
                            25: 'left:100px; top:328px;',
                            26: 'left:133px; top:342px;'
                        }, "ammo": {
                            19: 'left:59px; top:154px;',
                            20: 'left:54px; top:182px;',
                            21: 'left:56px; top:210px;',
                            22: 'left:62px; top:238px;',
                            23: 'left:76px; top:265px;',
                            24: 'left:94px; top:288px;',
                            25: 'left:118px; top:305px;',
                            26: 'left:146px; top:318px;'
                        }
                    },
                    "lowx": {
                        "flags": [11, 12, 13, 14, 15, 16, 17, 18], "styles": {
                            11: 'left:344px; top:143px;',
                            12: 'left:350px; top:178px;',
                            13: 'left:349px; top:213px;',
                            14: 'left:340px; top:246px;',
                            15: 'left:323px; top:277px;',
                            16: 'left:300px; top:304px;',
                            17: 'left:268px; top:324px;',
                            18: 'left:234px; top:338px;'
                        }, "ammo": {
                            11: 'left:314px; top:138px;',
                            12: 'left:320px; top:173px;',
                            13: 'left:319px; top:205px;',
                            14: 'left:310px; top:241px;',
                            15: 'left:293px; top:272px;',
                            16: 'left:270px; top:299px;',
                            17: 'left:238px; top:319px;',
                            18: 'left:204px; top:333px;'
                        }
                    },
                    "rigxx": {
                        "flags": [92, 93, 94, 95, 96, 97, 98, 99], "styles": {
                            92: 'left:148px; top:259px;',
                            93: 'left:185px; top:267px;',
                            94: 'left:221px; top:259px;'
                        }
                    },
                    "subx": {
                        "flags": [125, 126, 127, 128, 129, 130, 131, 132], "styles": {
                            125: 'left:117px; top:131px;',
                            126: 'left:147px; top:108px;',
                            127: 'left:184px; top:98px;',
                            128: 'left:221px; top:107px;',
                            129: 'left:250px; top:131px;'
                        }
                    }
                }
            }
        },
        computed: {
            kill: function () {
                let kill = this.killData;
                kill['finalBlow'] = this.$_.findWhere(kill.attackers, {finalBlow: true});
                return kill;
            },

            // @TODO Fix this to be proper Vue.. this is minimum effort
            fittingWheel: function () {
                let data = '';
                data += '<div class="kl-detail-fitting">' +
                    '<div class="fitting-panel" style="position:relative; height:398px; width:398px;">' +
                    '<div id="mask" class="fit-slot-bg">' +
                    '<img style="height:398px; width:398px;" src="/panel/tyrannis.png" alt="" /></div>';
                for (let key in this.slotTypes) {
                    let highCount = 0, medCount = 0, lowCount = 0, rigCount = 0, subCount = 0;
                    let slotName = key;
                    let d = this.slotTypes[key];
                    let flags = d['flags'];
                    let style = d['styles'];
                    let ammo = d['ammo'] || {};

                    this.$_.each(this.killData.items, function (item, slotKey) {
                        let itemCategory = 7;
                        if (flags.includes(item.flag) && item.categoryID === itemCategory) {
                            if (slotName == "highx") {
                                highCount++;
                            } else if (slotName == "midx") {
                                medCount++;
                            } else if (slotName == "lowx") {
                                lowCount++;
                            } else if (slotName == "rigxx") {
                                rigCount++;
                            } else if (slotName == "subx") {
                                subCount++;
                            }

                        }
                    });

                    data += '<div id="' + slotName + '" class="fit-slot-bg">';
                    if (slotName == "highx") {
                        data += '<img src="/panel/' + highCount + 'h.png" alt="" />';
                    } else if (slotName == "midx") {
                        data += '<img src="/panel/' + medCount + 'm.png" alt="" />';
                    } else if (slotName == "lowx") {
                        data += '<img src="/panel/' + lowCount + 'l.png" alt="" />';
                    } else if (slotName == "rigxx") {
                        data += '<img src="/panel/' + rigCount + 'r.png" alt="" />';
                    } else if (slotName == "subx") {
                        data += '<img src="/panel/' + subCount + 's.png" alt="" />';
                    }
                    data += '</div>';

                    this.$_.each(this.killData.items, function (item, slotKey) {
                        var ammoCategory = 8;
                        var itemCategory = 7;

                        if (flags.includes(item.flag) && item.categoryID == itemCategory) {
                            if (item.qtyDestroyed > 0) {
                                data += '<div data-trigger="tooltip" data-delay="0" data-content="' + item.typeName + '" data-position="s" id="' + slotName + '" class="fit-module fit-destroyed" style="' + style[item.flag] + '"><img src="https://imageserver.eveonline.com/Type/' + item.typeID + '_32.png"></div>';
                            } else {
                                data += '<div data-trigger="tooltip" data-delay="0" data-content="' + item.typeName + '" data-position="s" id="' + slotName + '" class="fit-module" style="' + style[item.flag] + '"><img src="https://imageserver.eveonline.com/Type/' + item.typeID + '_32.png"></div>';
                            }
                        } else if (flags.includes(item.flag) && item.categoryID == ammoCategory) {
                            data += '<div data-trigger="tooltip" data-delay="0" data-content="' + item.typeName + '" data-position="s" id="' + slotName + '" class="fit-module" style="' + ammo[item.flag] + '"><img src="https://imageserver.eveonline.com/Type/' + item.typeID + '_32.png"></div>';
                        }
                    });
                }
                data += '<div class="bigship"><img src="https://imageserver.eveonline.com/Render/' + this.killData.victim.shipTypeID + '_256.png" alt="" /></div>';
                data += '</div></div>';
                return data;
            },
            itemDetail: function () {
                let h = '';
                // {typeID, typeName, qty, value
                var reduced = Object.values(this.killData.items).reduce(function (pv, cv) {
                    if (cv.qtyDropped > 0) {
                        if (pv[cv.typeName + "dropped"]) {
                            pv[cv.typeName + "dropped"]["qtyDropped"] += cv.qtyDropped;
                            pv[cv.typeName + "dropped"]["value"] += (cv.value * cv.qtyDropped);
                        } else {
                            pv[cv.typeName + "dropped"] = [];
                            pv[cv.typeName + "dropped"]["flag"] = cv.flag;
                            pv[cv.typeName + "dropped"]["typeID"] = cv.typeID;
                            pv[cv.typeName + "dropped"]["typeName"] = cv.typeName;
                            pv[cv.typeName + "dropped"]["qtyDropped"] = cv.qtyDropped;
                            pv[cv.typeName + "dropped"]["qtyDestroyed"] = 0;
                            pv[cv.typeName + "dropped"]["value"] = (cv.value * cv.qtyDropped);
                        }
                    } else if (cv.qtyDestroyed > 0) {
                        if (pv[cv.typeName + "destroyed"]) {
                            pv[cv.typeName + "destroyed"]["qtyDestroyed"] += cv.qtyDestroyed;
                            pv[cv.typeName + "destroyed"]["value"] += (cv.value * cv.qtyDestroyed);
                        } else {
                            pv[cv.typeName + "destroyed"] = [];
                            pv[cv.typeName + "destroyed"]["flag"] = cv.flag;
                            pv[cv.typeName + "destroyed"]["typeID"] = cv.typeID;
                            pv[cv.typeName + "destroyed"]["typeName"] = cv.typeName;
                            pv[cv.typeName + "destroyed"]["qtyDropped"] = 0;
                            pv[cv.typeName + "destroyed"]["qtyDestroyed"] = cv.qtyDestroyed;
                            pv[cv.typeName + "destroyed"]["value"] = (cv.value * cv.qtyDestroyed);
                        }
                    }
                    return pv;
                }, {});

                var slotPopulated = function (flags, item) {
                    if (flags.includes(item.flag)) {
                        return true;
                    }
                    return false;
                };
                var millionBillion = function (isk) {
                    if (isk > 1000000000) { // Billion
                        return (isk / 1000000000).toFixed(2) + "b ISK";
                    }
                    return (isk / 1000000).toFixed(2) + "m ISK";
                };

                var slotTypes = {
                    "High Slot": [27, 28, 29, 30, 31, 32, 33, 34],
                    "Medium Slot": [19, 20, 21, 22, 23, 24, 25, 26],
                    "Low Slot": [11, 12, 13, 14, 15, 16, 17, 18],
                    "Rig Slot": [92, 93, 94, 95, 96, 97, 98, 99],
                    "Subsystem": [125, 126, 127, 128, 129, 130, 131, 132],
                    "Drone Bay": [87],
                    "Cargo Bay": [5],
                    "Fuel Bay": [133],
                    "Fleet Hangar": [155],
                    "Fighter Bay": [158],
                    "Fighter Launch Tubes": [159, 160, 161, 162, 163],
                    "Ship Hangar": [90],
                    "Ore Hold": [134],
                    "Gas hold": [135],
                    "Mineral hold": [136],
                    "Salvage Hold": [137],
                    "Ship Hold": [138],
                    "Small Ship Hold": [139],
                    "Medium Ship Hold": [140],
                    "Large Ship Hold": [141],
                    "Industrial Ship Hold": [142],
                    "Ammo Hold": [143],
                    "Quafe Bay": [154],
                    "Structure Services": [164, 165, 166, 167, 168, 169, 170, 171],
                    "Structure Fuel": [172],
                    "Implants": [89]
                };
                var lossValue = 0;
                var dropValue = 0;
                h +=
                    '<div class="kl-detail-shipdetails">' +
                    '<div class="block-header">Ship details</div>' +
                    '<table class="kb-table">';

                for (var key in slotTypes) {
                    var slotName = key;
                    var flags = slotTypes[key];
                    for (var slotKey in Object.values(this.killData.items)) {
                        var item = this.killData.items[slotKey];
                        if (slotPopulated(flags, item)) {
                            h += '<tr class="kb-table-row-evenslotbg">' +
                                '<th class="item-icon"></th>' +
                                '<th colspan="2"><b>' + slotName + '</b> </th>' +
                                '<th><b>Value</b></th>' +
                                '</tr>';
                            break;
                        }
                    }

                    for (var key in reduced) {
                        var item = reduced[key];
                        if (flags.includes(item.flag)) {
                            if (item.qtyDropped > 0) {
                                h +=
                                    '<tr class="kb-table-row-odd dropped">' +
                                    '<td class="item-icon"><a href="/type/' + item.typeID + '"><img data-trigger="tooltip" data-delay="0" data-content="' + item.typeName + '" data-position="e" src="https://imageserver.eveonline.com/Type/' + item.typeID + '_32.png"</a></td>' +
                                    '<td>' + item.typeName + '</td>' +
                                    '<td>' + item.qtyDropped + '</td>' +
                                    '<td>' + millionBillion(item.value) + '</td>' +
                                    '</tr>';

                                dropValue += item.value;
                            } else if (item.qtyDestroyed > 0) {
                                h +=
                                    '<tr class="kb-table-row-odd">' +
                                    '<td class="item-icon"><a href="/type/' + item.typeID + '"><img data-trigger="tooltip" data-delay="0" data-content="' + item.typeName + '" data-position="e" src="https://imageserver.eveonline.com/Type/' + item.typeID + '_32.png"</a></td>' +
                                    '<td>' + item.typeName + '</td>' +
                                    '<td>' + item.qtyDestroyed + '</td>' +
                                    '<td>' + millionBillion(item.value) + '</td>' +
                                    '</tr>';

                                lossValue += item.value;
                            }
                        }
                    }
                }
                h +=
                    '<tr class="kb-table-row-even summary itemloss">' +
                    '<td colspan="3"><div>Total Module Loss:</div></td>' +
                    '<td>' + millionBillion(lossValue) + '</td>' +
                    '</tr>' +
                    '<tr class="kb-table-row-odd summary itemdrop">' +
                    '<td colspan="3"><div>Total Module Drop:</div></td>' +
                    '<td>' + millionBillion(dropValue) + '</td>' +
                    '</tr>' +
                    '<tr class="kb-table-row-even summary itemdrop">' +
                    '<td colspan="3"><div>Total Fit Value:</div></td>' +
                    '<td>' + millionBillion(this.killData.fittingValue) + '</td>' +
                    '</tr>' +
                    '<tr class="kb-table-row-odd summary shiploss">' +
                    '<td colspan="3"><div>Ship Loss:</div></td>' +
                    '<td>' + millionBillion(this.killData.shipValue) + '</td>' +
                    '</tr>' +
                    '<tr class="kb-table-row-even summary totalloss">' +
                    '<td colspan="3">Total Loss at current prices:</td>' +
                    '<td>' + millionBillion(this.killData.totalValue) + '</td>' +
                    '</tr>' +
                    '</table>' +
                    '</div>';

                return h;
            },
            involvedPartiesInfo: function () {
                var h = "";
                var attackerCount = Object.values(this.killData.attackers).length;
                var sortObject = function (obj) {
                    var arr = [];
                    for (var prop in obj) {
                        if (prop != "") {
                            if (obj.hasOwnProperty(prop)) {
                                arr.push({"key": prop, "value": obj[prop]});
                            }
                        }
                    }

                    arr.sort(function (a, b) {
                        return b.value - a.value;
                    });
                    return arr;
                };
                var invAlliances = sortObject(Object.values(this.killData.attackers).reduce((p, c) => !(p[c.allianceName] ? p[c.allianceName]++ : p[c.allianceName] = 1) || p, {}));
                var invCorporations = sortObject(Object.values(this.killData.attackers).reduce((p, c) => !(p[c.corporationName] ? p[c.corporationName]++ : p[c.corporationName] = 1) || p, {}));
                var invShips = sortObject(Object.values(this.killData.attackers).reduce((p, c) => !(p[c.shipTypeName] ? p[c.shipTypeName]++ : p[c.shipTypeName] = 1) || p, {}));
                if (attackerCount > 4) {
                    h +=
                        '<div class="kl-detail-invsum">' +
                        '<div class="involvedparties">' + attackerCount + ' Involved parties' +
                        '<div id="invsumcollapse" style="float: right">' +
                        '<a href="javascript:Toggle();">Show/Hide</a>' +
                        '</div>' +
                        '</div>';
                    h +=
                        '<div id="ToggleTarget">' +
                        '<table class="kb-table">' +
                        '<tr class="kb-table-row-even" >' +
                        '<td class="invcorps">' +
                        '<div class="no_stretch">';
                    for (var key in invAlliances) {
                        var amount = invAlliances[key]["value"];
                        var name = invAlliances[key]["key"];

                        h += '<div class="kb-inv-parties">' +
                            '(' + amount + ') ' + name +
                            '</div>';

                    }

                    for (var key in invCorporations) {
                        var amount = invCorporations[key]["value"];
                        var name = invCorporations[key]["key"];

                        h += '<div>' +
                            '&nbsp;(' + amount + ') ' + name +
                            '</div>';

                    }

                    h += '<td class="invships">' +
                        '<div class="no_stretch">';
                    for (var key in invShips) {
                        var amount = invShips[key]["value"];
                        var name = invShips[key]["key"];

                        h += '(' + amount + ') ' + name + ' <br/>';
                    }
                    h +=
                        '</div>' +
                        '</td>' +
                        '</div>' +
                        '</td>' +
                        '</tr>' +
                        '</table>' +
                        '</div>' +
                        '</div>';
                }

                return h;
            },
            involvedPartiesList: function () {
                var h = "";
                var attackerCnt = 0;
                var totalDamage = this.killData.victim.damageTaken;
                var format = function (x) {
                    return isNaN(x) ? "" : x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                };

                var html = function (attacker, odd) {
                    if (attacker.shipGroupName == undefined)
                        attacker.shipGroupName = "";

                    var h = "";
                    var classText = "kb-table-row-even";
                    if (odd == true) {
                        classText = "kb-table-row-odd";
                    }
                    h +=
                        '<tr class="' + classText + '">' +
                        '<td rowspan="5" class="logo" width="64">' +
                        '<a href="/character/' + attacker.characterID + '">';
                    if (attacker.finalBlow == true) {
                        h += '<img class="finalblow rounded" data-trigger="tooltip" data-delay="0" data-content="' + attacker.characterName + '" data-position="s" src="https://imageserver.eveonline.com/Character/' + attacker.characterID + '_64.jpg" title="' + attacker.characterName + '" alt="' + attacker.characterName + '" />';
                    } else {
                        h += '<img class="rounded" data-trigger="tooltip" data-delay="0" data-content="' + attacker.characterName + '" data-position="s" src="https://imageserver.eveonline.com/Character/' + attacker.characterID + '_64.jpg" title="' + attacker.characterName + '"  alt="' + attacker.characterName + '" />';
                    }
                    h +=
                        '</a>' +
                        '</td>' +
                        '<td rowspan="5" class="logo" width="64">' +
                        '<a href="/ship/' + attacker.shipTypeID + '">';
                    if (attacker.finalBlow == true) {
                        h += '<img class="finalblow rounded" data-trigger="tooltip" data-delay="0" data-content="' + attacker.shipTypeName + '" data-position="s" src="https://imageserver.eveonline.com/Type/' + attacker.shipTypeID + '_64.png" alt="' + attacker.shipTypeName + '" title="' + attacker.shipTypeName + '" />';
                    } else {
                        h += '<img class="rounded" data-trigger="tooltip" data-delay="0" data-content="' + attacker.shipTypeName + '" data-position="s" src="https://imageserver.eveonline.com/Type/' + attacker.shipTypeID + '_64.png" alt="' + attacker.shipTypeName + '" title="' + attacker.shipTypeName + '" />';
                    }
                    h += '</a>' +
                        '</td>' +
                        '<td>' +
                        '<a href="/corporation/' + attacker.corporationID + '"><b>' + attacker.corporationName + '</b></a>' +
                        '</td>' +
                        '</tr>' +
                        '<tr class="' + classText + '">' +
                        '<td>' +
                        '<a href="/alliance/' + attacker.allianceID + '">' + attacker.allianceName + '</a>' +
                        '</td>' +
                        '</tr>' +
                        '<tr class="' + classText + '">' +
                        '<td>' +
                        '<a href="/ship/' + attacker.shipTypeID + '"><b>' + attacker.shipTypeName + '</b></a> (<a href="/group/' + attacker.shipGroupID + '/">' + attacker.shipGroupName.trim() + '</a>)' +
                        '</td>' +
                        '</tr>' +
                        '<tr class="' + classText + '">' +
                        '<td><a href="/type/' + attacker.weaponTypeID + '">' + attacker.weaponTypeName + '</a></td>' +
                        '</tr>' +
                        '<tr class="' + classText + '">' +
                        '<td>Damage done: <span style="color: #e42f2f;"><b>' + format(Math.round(attacker.damageDone)) + '</b></span> (<span style="color: #3d9e2f; ">' + parseFloat((attacker.damageDone / totalDamage) * 100).toFixed(2) + '%</span>)</td>' +
                        '</tr>';

                    return h;
                };
                h += '<table class="kb-table" width="380" border="0" cellspacing="1">';
                Object.values(this.killData.attackers).forEach(function (attacker) {
                    h +=
                        '<tr class="kill-pilot-name">' +
                        '<td colspan="3">' +
                        '<a href="/character/' + attacker.characterID + '">' + attacker.characterName + '</a>' +
                        '</td>' +
                        '</tr>' +
                        '<col class="logo" />' +
                        '<col class="logo" />' +
                        '<col class="attribute-data" />';

                    var isOdd = function (input) {
                        return input % 2;
                    };

                    if (isOdd(attackerCnt)) {
                        h += html(attacker, true);
                    } else {
                        h += html(attacker, false);
                    }

                    attackerCnt++;
                });

                h += "</table>";

                return h;
            }
        },
        methods: {
            round: function (inputValue) {
                return Math.round(inputValue);
            },
            getImageUrl(inputID, inputType, size) {
                return 'https://imageserver.eveonline.com/' + inputType + '/' + inputID + '_' + size + '.png';
            },
            getLink(inputID, inputType) {
                return '/' + inputType + '/' + inputID;
            },
            millionBillion(isk) {
                if (isk > 1000000000) { // Billion
                    return (isk / 1000000000).toFixed(2) + "b ISK";
                }
                return (isk / 1000000).toFixed(2) + "m ISK";
            },
            solarSystemSecurity(solarSystemSecurity) {
                return parseFloat(solarSystemSecurity).toFixed(2);
            },
            inArray(haystack, needle) {
                if (typeof haystack == "string")
                    haystack = [haystack];

                return (haystack.indexOf(needle) > -1);
            }
        },
        mounted() {
            // Update the parent
            this.$emit("updatePageTitle", {
                pageTitle: "Kill " + this.killID
            });

            let url = "https://evekill.club/api/kill/killID/" + this.$route.params.killID;
            console.log(url);
            this.$axios
                .get(url)
                .then(response => {
                    this.killData = response.data;
                })
                .finally(() => (this.loaded = true));
        }
    };
</script>
